<header>
{{ with .Site.Params.version }}
 <span class="version">Version {{ . }}</span>
{{end}}
{{- with .Site.Params.github_repository -}}
<a href="{{ . }}" class="github"><i class="fab fa-github"></i></a>
{{- end -}}
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{end}}
    <a href="/" class="logo">
        <img src="images/sis-cc-logo-bw.png" alt="" title="" class="lg" />
        <img src="images/sis-cc-logo-icon.png" alt="" title="" class="xs" />
    </a>
    <h1>{{ .Site.Title }}</h1>
    <div>
        <a href="https://twitter.com/sisccommunity" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/groups/8614136" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="mailto:contact@siscc.org" target="_blank">
            <i class="far fa-envelope"></i>
        </a>
        <a href="https://gitlab.com/sis-cc" target="_blank">
            <i class="fab fa-gitlab"></i>
        </a>
        <a href="https://siscc.org/" target="_blank">
            <i class="fas fa-globe"></i>
        </a>
    </div>
</header>