<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{{- if eq .Title "" }}
<title>{{ .Site.Title }}</title>
{{- else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{- end }}
{{- if ne .Description "" }}
<meta name="description" content="{{ .Description }}">
{{- else if isset .Site.Params "description" }}
<meta name="description" content="{{ .Site.Params.description }}">
{{- end }}
{{ .Hugo.Generator }}
<link rel="icon" href="{{ .Site.Params.favicon }}" type="image/x-icon" />
<link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="{{"css/theme.min.css" | absURL}}">
<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
{{ partial "meta/chroma.html" . -}}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="{{"js/functions.min.js" | absURL}}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
<script src="{{"js/jquery.backtothetop/jquery.backtothetop.min.js" | absURL}}"></script>
<script src="{{"js/mermaid.min.js" | absURL}}"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
{{- partial "meta/google-analytics-async.html" . -}}
{{- partial "meta/tag-manager.html" . -}}
{{- partial "meta/google-site-verification.html" . -}}

