@font-face {
  font-family: 'FontAwesome';
  src: url('../images/fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../images/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../images/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../images/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../images/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../images/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  
  margin: 0.67em 0;
  color: #444;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

body {
	text-rendering: optimizelegibility;
    font-family: 'Open sans', 'Raleway', Helvetica, Arial sans-serif;
    color: #686868;
    
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: 'pwid';
  font-feature-settings: 'pwid';*/
  line-height: 1.9;
  background: #fff;
  margin: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #38a0e4;
  text-decoration: underline;
}

p {
  font-size: 1rem;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.95rem;
  background: #f0f0f0;
  padding: .2rem;
}

pre {
  overflow: auto;
  background: #f4f6f8;
  padding: 1rem;
  border: 1px solid #f0f0f0;
}

pre code {
  background-color: transparent;
  padding: 0;
}

blockquote {
  background: #f9f9f9;
  color: #959595;
  border-left: 4px solid #e5e5e5;
  margin-left: 0;
  padding: .1rem .8rem;
}

table {
  border-spacing: 0;
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  margin-bottom: 2rem;
  width: 100%;
}

th {
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: .4em;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: .4em;
}

tr:nth-child(even) td {
  background: #f8f8f8;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

hr {
  height: 2px;
  border: 0;
  background-color: #ccc;
}

/*-----------------------*
    Structure
*-----------------------*/
html,
body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin: auto;
}

.content-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.sidebar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 480px) {
  .content-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
  }
  .sidebar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.pagination {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  font-weight: bold;
}

.nav-next {
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .pagination {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-next {
    margin-left: 0;
  }
}

.panel {
  margin-bottom: 2rem;
  padding: 1rem;
}

.panel-primary {
  border: 1px solid #f0f0f0;
}

.panel-notice {
  color: #fff;
  background: #4ba0e1;
}

.panel-success {
  color: #fff;
  background: #609f43;
}

.panel-caution {
  color: #fff;
  background: #de776d;
}

.panel-warning {
  color: #fff;
  background: #e67e22;
}

.panel-danger {
  color: #fff;
  background: #ce3426;
}

.panel-header h3 {
  margin: 0;
  margin-bottom: 0.6rem;
}

.button {
  display: inline-block;
  font-size: 120%;
  padding: .8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  color: #fff;
  background: #4ba0e1;
  margin-bottom: 1.2rem;
}

.button:hover {
  color: #fff;
  text-decoration: none;
  background: #3b89c5;
}

.button-primary {
  border: 1px solid #f0f0f0;
}

.button-success {
  background: #369b08;
}

.button-success:hover {
  background: #256905;
}

.button-caution {
  background: #f56558;
}

.button-caution:hover {
  background: #d45145;
}

.button-warning {
  background: #f5811b;
}

.button-warning:hover {
  background: #db7012;
}

.button-danger {
  background: #ce3426;
}

.button-danger:hover {
  background: #a0281d;
}

.notification {
  padding: .2rem 1.2rem;
  text-align: center;
  background: #eee;
}

.backtothetop {
  display: none;
  font-size: 200%;
}

.fa-layers .fa-circle {
  color: #fff;
}

header {
  padding: 2rem 3rem 2rem 25%;
  background: #303030;
  position: relative;
}
header h1 {
  color: #fff;
  font-size: 150%;
  display: inline-block;
  margin: 0;
  padding-left: 2em;
  line-height: 1em !important;
  padding-top: 5px;
}
header div {
	float: right;
}
header a {
	display: inline-block;
	color: #fff;
	padding: 2px 9px;
	margin-left: 5px;
}
header a:hover {
	background: #009ef8;
	color: #fff;
}
@media screen and (max-width: 768px) {
	header {
		padding: 1rem 1rem 1rem 0;
		text-align: left;
		background: #303030;
	}
	header h1 {
		line-height: 1.9em;
		padding-left: 70px;
		font-size: 130%;
		text-align: right;
		display: block;
	}
	header div {
		float: right;
		padding-left: 62px;
	}
	header a {
		margin-left: 19px;
	}
}
header .version {
  color: #fff;
  font-size: 80%;
}

header .github {
  margin-left: .4rem;
  color: #ddd;
  font-size: 180%;
}

header .github:hover {
  color: #fff;
}
.lg, .xs {
	display: none;
}
.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	padding:0;
	margin:0;
}
.logo:hover {
	background: none;
	
}
@media screen and (min-width: 768px) {
	.logo .lg {
		display: block;
	}
}
@media screen and (max-width: 767px) {
	.logo .xs {
		display: block;
	}
	.logo {
		top: 20px;
		left: 15px;
	}
}

.description {
  color: #ddd;
  margin: 0;
}

.menu {
  background: #000;
  padding: 0 1.2rem .4rem;
  color: #ddd;
  border-top: 1px solid #333;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 1.8rem;
  position: relative;
}

.menu ul.sub-menu {
  display: none;
  margin: 0;
  position: absolute;
  top: 1.8rem;
  left: 0;
  z-index: 99999;
}

.menu ul.sub-menu li {
  padding: .4rem;
  background: #000;
  width: 140px;
  font-size: 80%;
}

.menu .fa-angle-right {
  margin-left: .4rem;
  font-size: 80%;
}

.menu li.parent:hover > ul.sub-menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

@media screen and (max-width: 480px) {
  .menu li {
    display: block;
    margin-right: 0;
    border-bottom: 1px solid #333;
  }
  .menu li:last-child {
    border-bottom: none;
  }
  .menu .fa-angle-right {
    display: none;
  }
  .menu ul.sub-menu {
    display: block;
    position: static;
  }
  .menu ul.sub-menu li {
    width: auto;
  }
}

.menu a {
  display: block;
  color: #ddd;
  text-decoration: none;
}

.menu a:hover {
  color: #fff;
}

main {
  padding: 1rem 3rem 3rem;
}

@media screen and (max-width: 480px) {
  main {
    padding: 1rem;
  }
}

.sidebar {
  font-size: 90%;
  border-right: 0px solid #eee;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eee;
  font-weight: bold;
}
.sidebar ul li ul {
	background: #fff;
	font-weight: normal;
}

.sidebar ul ul ul {
  margin: 0 -15px;
}

.sidebar a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 15px;
  /*border-left: solid 4px #f9f9f9;
  border-bottom: solid 1px #ddd;*/
  width: calc(100% - 31px);
}

.sidebar a:hover {
  text-decoration: underline;
  /*background: #eee;
  border-left: solid 4px #ccc;*/
}

.sidebar li li a {
  /*padding-left: 2rem;*/
}
.sidebar li {
	border-top: 1px solid #ddd;
	position: relative;
}
.sidebar li li {
    padding: 0px 15px;
    background-color: #fff;
    border: none;
    border-top: 1px solid #ddd;
    font-weight: normal;
}
.sidebar li li:before {
    content: '\f105';
    font-family: 'FontAwesome';
    color: #686868;
    position: absolute;
    top: 7.5px;
}
.sidebar li li li {

}
.sidebar li li li:before {
    content: '\f105 \f105';
    font-family: 'FontAwesome';
    color: #686868;
    position: absolute;
    top: 7.5px;
}
.sidebar .active {
  background: #ddd;
  /*border-left: solid 4px #ccc;*/
  color: #666;
}

.sidebar .active > a, .sidebar .active > a:hover {
  /*background: #eee;
  border-left: solid 4px #ccc;*/
  color: #666;
  text-decoration: none;
}

.sidebar-footer {
  margin: 1rem;
  margin-top: 2rem;
}

footer {
  margin-top: 2rem;
}

.edit-meta {
  font-size: 80%;
  margin-top: 2rem;
  text-align: right;
}

.edit-page {
  font-weight: bold;
}

.powered {
  font-size: 80%;
  text-align: right;
  color: #999;
  
}
div.mermaid
{
  font-family: 'trebuchet ms', verdana, arial;
}

div.sidebar>nav>ul>li {
  display: block;
}

div.sidebar li.parent>ul>li{
  display:block;
}

div.sidebar li.active>ul>li {
  display: block;
}
div.sidebar li.active {
  display: block;
}


div.sidebar li {
  display: none;
}